<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="../turn.js"></script>
    <link rel="stylesheet" type="text/css" href="css/basic.css" />
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">



        Enter Page 1 Content: <input type="text" ng-model="page1Content"><br>
        Enter Page 2 Content: <input type="text" ng-model="page2Content"><br>
        Enter Page 3 Content: <input type="text" ng-model="page3Content"><br>

        <br>
        OutPut : {{pageContent}}

    <div id="flipbook">
        <div><span class="text"> page 1 <br> <input type="text" ng-model="page1Content"></span></div>
        <div><span class="text">Page 2 <br> <input type="text" ng-model="page2Content"></span></div>
        <div><span class="text">Page 3 <br> <input type="text" ng-model="page3Content"></span></div>
        <div><span class="text">Page 3 <br> <input type="text" ng-model="page3Content"></span></div>

    </div>
</div>


</body>
<script type="text/javascript" src="app.js"></script>
</html>